body {
    position: relative;
    background-color: #171717;
}
.advantages{
    text-align: center;
    color: #fff;
    justify-content: space-around; 
    padding-top: 40px;
}
.name{
    padding-top: 10px;
}
.flex { display: flex; }
