<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Сalculator</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    </head>
    <body>
        <div id="app">
           <div class="main">
            <input class="textview" type="text" v-model="result">
            <button class="button" v-for="num in numbers">{{num}}</button>
           </div>
        </div>
    </body>
    <script src="app.js"></script>
</html>